body{
	background-color: lightgray;
}
h1{
	font-size: 30px;
	color: darkviolet;
}
h2{
	font-size: 20px;
	color: darkkhaki;
}
.big{
	font-size: 60px;
}
.uppercase{
	text-transform: uppercase;
}
.big.uppercase{
	color: teal;
}
h1 span{
	color: royalblue;
}